<%= form_for(@guestbookentry) do |f| %>
  <% if @guestbookentry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guestbookentry.errors.count, "error") %> prohibited this guestbookentry from being saved:</h2>

      <ul>
      <% @guestbookentry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.hidden_field :sender %>
  </div>
  <div class="field">
  	<%= f.hidden_field :receiver %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
