<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @guestbookentry.sender %>
</p>

<p>
  <b>Receiver:</b>
  <%= @guestbookentry.receiver %>
</p>

<p>
  <b>Content:</b>
  <%= @guestbookentry.content %>
</p>


<%= link_to 'Edit', edit_guestbookentry_path(@guestbookentry) %> |
<%= link_to 'Back', guestbookentries_path %>
