<h1>Incoming messages</h1>

<table>
  <tr>
    <th>Message from:</th>
    <th>Subject:</th>
    <th>Date:</th>
    <th></th>
    <th></th>
  </tr>

<% @incomingmessages.each do |message| %>
  <tr>
  	
  	<% if message.read %>
    	<td><%= message.sender %></td>
    	<td><%= message.subject %></td>
    	<td><%= message.created_at %></td>
    <% else %>
        <td><b><%= message.sender %></b></td>
    	<td><b><%= message.subject %></b></td>
    	<td><b><%= message.created_at %></b></td>

    <% end %>	
    
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Delete', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Outgoing messages</h1>

<table>
  <tr>
    <th>Message sent to:</th>
    <th>Subject:</th>
    <th>Date:</th>
    <th></th>
    <th></th>
  </tr>

<% @outgoingmessages.each do |message| %>
  <tr>
    <td><%= message.receiver %></td>
    <td><%= message.subject %></td>
    <td><%= message.created_at %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Delete', message, confirm: 'Are you sure?', method: :delete %></td> <!-- it's not a bug, it's a feature! (Delete Outgoingmessage->Delete Ingoingmessage)-->
  </tr>
<% end %>
</table>

<br />
<br />
<br />

<%= link_to 'New Message', new_message_path %>

<!-- 
<br />
<br />

<%= link_to 'Back', profiles_path %> -->
