<!-- <p id="notice"><%= notice %></p> -->

<h1><%= @profile.email %>'s Home</h1>

<% if (@profile.gender != "") && (@profile.firstname != "") || (@profile.lastname != "") then %>
	<% if @profile.gender = 'male' then %>
		Mr 
	<% else %>
		Ms 
	<% end %>
<% end %>
<% if (@profile.firstname != "") || (@profile.lastname != "") then %>
	<%= @profile.firstname %>
	<%= @profile.lastname %>
<% end %>
<br /><br />

<% if @profile.birthdate != "" then %>
<a href="javascript:toggleCollapsableDiv('BirthdayArea');" title="Click to collapse">Birthday</a>
<div id="BirthdayArea" class="collapsable_initClosed">
	<%= @profile.birthdate %>
</div>
<br />
<% end %>

<% if (@profile.phonenumber != "") || (@profile.street != "") || (@profile.city != "")  then %>
<a href="javascript:toggleCollapsableDiv('ContactArea');" title="Click to collapse">Contact Information</a>
<div id="ContactArea" class="collapsable_initClosed">
	<% if @profile.phonenumber != "" then %>
		Phone number: <%= @profile.phonenumber %>
		<br /><br />
	<% end %>
	<% if (@profile.street != "") || (@profile.city != "") %>
		Address:<br />
		<%= @profile.street %>
		<%= @profile.number %>
		<br />
		<%= @profile.postalcode %>
		<%= @profile.city %>
	<% end %>
</div>
<br />
<% end %>

<% if @profile.hobbies != "" then %>
<a href="javascript:toggleCollapsableDiv('HobbyArea');" title="Click to collapse">Hobbies</a>
<div id="HobbyArea" class="collapsable_initClosed">
	<%= @profile.hobbies %>
</div>
<br />
<% end %>

<% if @profile.sports != "" then %>
<a href="javascript:toggleCollapsableDiv('SportsArea');" title="Click to collapse">Sports</a>
<div id="SportsArea" class="collapsable_initClosed">
	<%= @profile.sports %>
</div>
<br />
<% end %>

<% if @profile.jobs != "" then %>
<a href="javascript:toggleCollapsableDiv('JobArea');" title="Click to collapse">Jobs</a>
<div id="JobArea" class="collapsable_initClosed">
	<%= @profile.jobs %>
</div>
<br />
<% end %>

<% if @profile.education != "" then %>
<a href="javascript:toggleCollapsableDiv('EducationArea');" title="Click to collapse">Education</a>
<div id="EducationArea" class="collapsable_initClosed">
	<%= @profile.education %>
</div>
<br />
<% end %>

<br/>
<br/>

<h1>Guestbook</h1>

<b><%= link_to 'Post to Guestbook', new_guestbookentry_path(@profile) %></b>  

<br/>

<% @guestbookentries.each do |guestbookentry| %>
	<%= major_block(guestbookentry.sender + "wrote:") do %>
		<%= guestbookentry.content %>
	<% end %>
<% end %>

<% if false %>

<table>
  <tr>
    <th>Author:</th>
    <th>Content:</th>
    <th>Date:</th>
    <th></th>
  </tr>

<% @guestbookentries.each do |entry| %>
  <tr>
    <td><%= entry.sender %></td>
    <td><%= entry.content %></td>
    <td><%= entry.created_at %></td>
    <% if current_user%>
    	<%if @profile.user_id == current_user.id %>
    		<td><%= link_to 'Delete', delete_guestbookentry_path(entry), confirm: 'Are you sure?', method: :delete %></td>
   		<%else%>
   			<td></td>
   		<%end%>
   		</tr>
   <%end%>
<% end %>
</table>

<% end %>

