<!DOCTYPE html>
<html>
<head>
  <title>SecureSocialMediaSystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="globalBorder">

<%= image_tag("SSMS-Logo_small.png", :align => "right") %>

<div id="user_nav" class="header">
  <% if current_user %>
    Logged in as <%= current_user.email %> with SessionID: <%=request.session_options[:id]%> .
    <%= link_to "Log out", log_out_path %>
    <br />
    <!-- <%= link_to "To your profile", my_profile_path%> -->
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
  
  <% if session[:remote_user_email] %>
  	<%= link_to "Back to Your Profile!", REMOTE_SERVER_LINK_PREFIX+parse_homeserver(session[:remote_user_email])+"/profiles/?email="+session[:remote_user_email] %>
  <% end %>
  
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

<% if current_user && @displayed_user %> 
	<% if @displayed_user.email == current_user.email %>
		<%= menuArea(@displayed_user.email, true) %>
	<% else %>
		<%= menuArea(@displayed_user.email, false) %>
	<% end %>
<% end %>



<div class="contentArea">
<%= yield %>
</div>

<div style="clear:both;"></div>
</div>

</body>
</html>
